<template>
  <v-fab-transition>
    <div class="table" v-show="expand">
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
      ></v-text-field>
      <v-data-table
        :headers="headers"
        :items="this.$store.state.tableData"
        :search="search"
        hide-default-footer
        @click:row="prepareDelete"
      ></v-data-table>
      <v-dialog v-model="dialog" max-width="500">
        <v-card height="70" class="pt-1">
          <v-card-text>Do you want to delete this entry?</v-card-text>
          <v-row justify="center">
            <v-btn small dark color="blue" @click="deleteEntry">
              <v-icon dark>
                mdi-delete
              </v-icon>
              Delete</v-btn
            >
            <v-btn small @click="dialog = false" class="black--text">
              <v-icon>
                mdi-cancel
              </v-icon>
              Cancel
            </v-btn>
          </v-row>
        </v-card>
      </v-dialog>
    </div>
  </v-fab-transition>
</template>

<script>
/* eslint-disable */
import axios from "axios";

export default {
  name: "Table",
  data() {
    return {
      dialog: false,
      delete: {},
      search: "",
      expand: false,
      headers: [
        {
          text: "Track",
          value: "track",
          class: "blue darken-3 white--text body-2 font-weight-bold",
        },
        {
          text: "Car",
          value: "car",
          class: "blue darken-3 white--text body-2 font-weight-bold",
        },
        {
          text: "Gate",
          value: "gate",
          class: "blue darken-3 white--text body-2 font-weight-bold",
        },
        {
          text: "Date",
          value: "date",
          class: "blue darken-3 white--text body-2 font-weight-bold",
        },
        {
          text: "Departure",
          value: "departure",
          class: "blue darken-3 white--text body-2 font-weight-bold",
        },
        {
          text: "Arrival",
          value: "arrival",
          class: "blue darken-3 white--text body-2 font-weight-bold",
        },
      ],
    };
  },
  mounted() {
    this.expand = true;
  },
  methods: {
    prepareDelete(obj) {
      this.delete = obj;
      this.dialog = true;
    },
    deleteEntry() {
      const csrfToken = this.$cookies.get("csrftoken");
      axios
        .delete("api/excel", {
          data: this.delete,
          headers: {
            "X-CSRFToken": csrfToken,
          },
        })
        .then(() => {
          axios.get("/api/excel").then((response) => {
            this.$store.dispatch("updateTable", response.data);
          });
        })
        .catch(() => {
          console.log("Delete failed");
        });
      this.dialog = false;
    },
  },
};
</script>

<style>
.table {
  padding: 15px;
  width: 65%;
  margin-left: 17%;
}
</style>
