<template>
  <v-scroll-x-transition>
    <div class="upload" v-show="expand">
      <h1>Upload Data</h1>
      <v-file-input
        accept=".xlsx, .xls, .csv"
        placeholder="Choose a file to upload"
        outlined
        dense
        @change="handleFileUpload"
      />
      <v-btn @click="submitFile" color="blue darken-3" dark>Submit</v-btn>
      <v-snackbar
        v-model="displaySnackbar"
        timeout="3500"
        rounded="pill"
        color="success"
        >{{
          `${this.new} entr${this.new === 1 ? "y" : "ies"} added. ${
            this.rejected
          } entr${this.rejected === 1 ? "y" : "ies"} rejected.`
        }}</v-snackbar
      >
    </div>
  </v-scroll-x-transition>
</template>

<script>
/* eslint-disable */
import axios from "axios";

export default {
  name: "Upload",
  data() {
    return {
      file: "",
      displaySnackbar: false,
      new: 0,
      rejected: 0,
      expand: false,
    };
  },
  mounted() {
    this.expand = true;
  },
  methods: {
    handleFileUpload(currentFile) {
      this.file = currentFile;
    },
    submitFile() {
      if (this.file) {
        const csrfToken = this.$cookies.get("csrftoken");
        let formData = new FormData();
        formData.append("file", this.file);
        axios
          .post("/api/excel", formData, {
            headers: {
              "Content-Type": "multipart/form-data",
              "X-CSRFToken": csrfToken,
            },
          })
          .then((resp) => {
            this.new = resp.data.new;
            this.rejected = resp.data.rejected;
            this.displaySnackbar = true;
            axios.get("/api/excel").then((response) => {
              this.$store.dispatch("updateTable", response.data);
            });
          })
          .catch(() => {
            console.log("Failure");
          });
      }
    },
  },
};
</script>

<style>
.upload {
  padding: 15px;
  padding-top: 30px;
  margin-right: 20px;
}
</style>
