<template>
  <v-app>
    <div id="app">
      <div id="nav" v-if="this.$session.has('token')">
        <router-link to="/upload" style="text-decoration: none;"
          ><v-icon dark v-tooltip="'Upload'">mdi-upload</v-icon></router-link
        >
        <router-link to="/" style="text-decoration: none;"
          ><v-icon dark v-tooltip="'Table'">mdi-chart-bar</v-icon></router-link
        >
        <router-link to="/logout" style="text-decoration: none;"
          ><v-icon dark v-tooltip="'Logout'">mdi-logout</v-icon></router-link
        >
      </div>
      <router-view />
    </div>
  </v-app>
</template>

<script>
/* eslint-disable */
import axios from "axios";

export default {
  name: "App",
  mounted() {
    axios.get("/api/excel").then((response) => {
      this.$store.dispatch("updateTable", response.data);
    });
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #1565c0;
}

#nav a {
  color: white;
  /* color: #2c3e50; */
}

#nav a.router-link-exact-active {
  font-weight: bold;
  color: white;
}

#nav {
  display: flex;
  justify-content: space-between;
}

.tooltip {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: #616161;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
  opacity: 0.85;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #616161;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: #616161;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, 0.1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden="true"] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}
</style>
