<template>
  <div>
    <Table></Table>
  </div>
</template>

<script>
/* eslint-disable */

// @ is an alias to /src
import Table from "@/components/Table.vue";
import router from "../router/index";

export default {
  name: "Home",
  components: { Table },
  mounted() {
    this.checkLoggedIn();
  },
  methods: {
    checkLoggedIn() {
      this.$session.start();
      if (!this.$session.has("token")) {
        router.push("/login");
      }
    },
  },
};
</script>
