<template>
  <div>
    <div class="header"></div>
    <div class="login">
      <h1>Login</h1>
      <v-form v-model="validEntry" ref="form">
        <v-text-field
          v-model="credentials.username"
          label="Username"
          :rules="loginRules"
        ></v-text-field>
        <v-text-field
          v-model="credentials.password"
          label="Password"
          :type="showPassword ? 'text' : 'password'"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          @click:append="showPassword = !showPassword"
          @keydown.enter="login"
          :rules="loginRules"
        ></v-text-field>
        <v-btn :disabled="!validEntry" @click="login" color="blue darken-3"
          >Login</v-btn
        >
      </v-form>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import router from "../router/index";
import Swal from "sweetalert2";

export default {
  name: "Login",
  data() {
    return {
      credentials: {},
      showPassword: false,
      validEntry: false,
      loginRules: [(input) => !!input || "Required"],
    };
  },
  methods: {
    login() {
      if (this.$refs.form.validate()) {
        axios
          .post("http://localhost:8000/auth/", this.credentials)
          .then((res) => {
            this.$session.start();
            this.$session.set("token", res.data.token);
            router.push("/");
          })
          .catch(() => {
            Swal.fire({
              title: "Error",
              text: "Username or password is incorrect",
              showConfirmButton: false,
              showCloseButton: false,
              timer: 3000,
            });
          });
      }
    },
  },
};
</script>

<style>
.header {
  padding: 27px;
  background-color: #1565c0;
}

.login {
  padding: 15px;
  width: 75%;
  margin-left: 10%;
}

button {
  color: white !important;
}
</style>
