<template>
  <div>
    Logging out...
  </div>
</template>

<script>
/* eslint-disable */
import router from "../router/index";

export default {
  name: "Logout",
  mounted() {
    this.$session.destroy();
    router.push("/login");
  },
};
</script>
